@charset "Shift_JIS";

/*旧html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}旧*/

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
  margin-top: 15px;
  margin-left: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  margin-right: 30px;
}

.header-right1 {
  float: right;
  transition: all 0.5s;
  margin: 20px;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.header-right0 {
  float: right;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

/*.heading h2 {
  font-weight: normal;
}*/

.container {
    /*max-width: 1170px;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}


/*追加*/
.post-wrapper {
    width: 100%;
    display: flex;
    min-height: 800px;
}

.post-container {
  height: auto;
  background-color: #f7f7f7;
  text-align: center;
  width: 82%;
}  

.side {
  padding-top: 10px;
  width: 18%;
  background-color: #c4dfe6;
  float: right;
}

.tag-contents {
  width: 95%;
  display: inline-block;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 13px;
  color: #b3aeb5;
}


/*以下追加*/
.modal-body {
  padding: 100px 0px;
  color: black;
}


 
.posts {
  
    display: flex;
    flex-wrap: wrap;
    padding:  10px;

}
 
 
.post {
 
  width: 25%;
  padding: 10px;
  color:  #000000;          
  margin:  10px;          
  border-radius:  5px;      
  background-color: #f5f5f5;

}

.post-icon {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-icon img {
  max-width: 100%;
  overflow: hidden;
}


.iine {
  position: relative;
} 


.iine-count {
  position: absolute;
  text-align: end;
  margin: 20px 0 0 0;
}

.iine-img {
  position: absolute;
  text-align: end;
  margin: 0 20px 0 0;
}

.iine-img:hover {
    border-bottom: 0;
    transform: translateY(4px);
    margin-bottom: 4px;
}


.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}
 










body {
  margin: 0;
}

/* Navbar & Navmenu color */
:root {
  --background-navbar: rgba(55, 55, 55, 0.98);
}

.header {
  background: var(--background-navbar);
  position: fixed;
  width: 100%;
  height: 100px;
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 100px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid rgb(75, 75, 75);
  padding: 35px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 48px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #ddd;
  display: block;
  height: 3px;
  width: 48px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}







/* Nav items */
.menu1 {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 100px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
  color: #ddd;
}

/* Hamburger menu button */
.menu-btn1:checked ~ .menu1 {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menbu text */
.menu1 a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
}

.menu1 li {
  border-top: 1px solid rgb(75, 75, 75);
  padding: 35px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
}

.menu-btn1:checked ~ .menu1 a,
.menu-btn1:checked ~ .menu1 li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn1 {
  display: none;
}

.menu-icon1 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 25px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon1 {
  display: block;
  height: 3px;
  width: 48px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon1:before,
.navicon1:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ddd;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon1:before {
  top: 9px;
}

.navicon1:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn1:checked ~ .menu-icon1 .navicon1:before {
  transform: rotate(-45deg);
}

.menu-btn1:checked ~ .menu-icon1 .navicon1:after {
  transform: rotate(45deg);
}

.menu-btn1:checked ~ .menu-icon1:not(.steps) .navicon1:before {
  top: 0;
}
.menu-btn1:checked ~ .menu-icon1:not(.steps) .navicon1:after {
  bottom: 0;
}

.menu-btn1:checked ~ .menu-icon1 .navicon1 {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext1-container {
  width: 100%;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Text */
.navtext1 {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}