@charset "Shift_JIS";

/*旧html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}旧*/

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



.container {
    /*max-width: 1170px;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 15px;
  margin-left: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  margin-right: 30px;
}

.header-right1 {
  float: right;
  transition: all 0.5s;
  margin: 20px;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.header-right0 {
  float: right;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

/*追加*/
.post-wrapper {
    width: 100%;
    display: flex;
}

.post-container {
  height: auto;
  background-color: #f7f7f7;
  text-align: center;
  width: 82%;
}



.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

/*.heading h2 {
  font-weight: normal;
}*/


.post-icon {
  position: relative;
}


.post-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  /*color: white;*/
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}
  

.side {
  padding-top: 10px;
  width: 18%;
  background-color: #c4dfe6;
  float: right;
}

.tag-contents {
  width: 95%;
  display: inline-block;
  margin-top: 4px;
  margin-left: 4px;
  font-size: 13px;
  color: #b3aeb5;
}


/*以下追加*/
.modal-body {
  padding: 10px 0px;
  color: black;
}


 
.posts {
  
    display: flex;
    flex-wrap: wrap;
    padding:  10px;

}
 
 
.post {
 
  width: 25%;
  padding: 10px;
  color:  #000000;          
  margin:  10px;          
  border-radius:  5px;      
  background-color: #f5f5f5;

}
 
.post-icon img {
  max-width: 100%;
  height: auto;
  width /**/:auto;
  
    
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
  
