@charset "Shift_JIS";

main{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 10px 0 30px;
}


.postresulttop {
	margin:  10px;
	display: flex;
	justify-content: space-between;
}


.kekka {

    padding: 15px;
    color:  #fff;               /* 文字色 */
    margin:  5px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
    background-color:  #5BC8AC; /* 背景色指定 */
    display:flex;
    align-items: center;
}

.kekka-img{
	flex-basis:60%;
	margin: 10px;
}

.kekka-message{
    flex-basis:40%;
	margin: 10px;
    padding: 15px;
    color:  rgb(0, 0, 0);               /* 文字色 */
    background-color:  rgb(255, 255, 198, 0.5); /* 背景色指定 */
    display: flex;
    flex-direction: column;    
}

.comment-area {
  margin: 20px 0px 0px 5px;
}


.comment-out {

  margin: 5px 0px 0px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  height:400px;
  background-color:rgb(255, 255, 255);
  /*スクロールバー非表示（IE(Internet Explorer)・Microsoft Edgeへの対応）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefoxへの対応）*/
  scrollbar-width: none;
}
  
  /*スクロールバー非表示（Google Chrome、Safariへの対応）*/
.comment-out::-webkit-scrollbar{
  display: none;
}


.comment-in {

  margin: 5px 10px 0px 5px;

}


.iine {
  height:40px;
  margin: 0 20px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.iine-img:hover {
    border-bottom: 0;
    transform: translateY(4px);
    margin-bottom: 4px;
}


.yureru-j {
    animation: yureru-j 2s infinite;
}
@keyframes yureru-j {
    0% {
        transform: translate(0px, 2px);
    }
    5% {
        transform: translate(0px, -2px);
    }
    10% {
        transform: translate(0px, 2px);
    }
    15% {
        transform: translate(0px, -2px);
    }
    20% {
        transform: translate(0px, 2px);
    }
    25% {
        transform: translate(0px, -2px);
    }
    30% {
        transform: translate(0px, 0px);
    }
}


