@charset "Shift_JIS";


.parent{
	margin-left: 20px;
	display: flex;
	width: 100%;
}
.child1{
	flex-grow: 1;
	width: 40%;
}
.child2{
	flex-grow: 1;
	width: 10%;
}
.child3{
	flex-grow: 1;
	width: 40%;
}


.button009 a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100px;
    padding: 15px 50px;
    color: #313131;
    transition: 0.3s ease-in-out;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
.button009 a:hover {
    background: #313131;
    color: #FFF;
}





table.toukou {
	width: 800px;
	height: 100%;
	table-layout: fixed;
	margin: auto;
	font-size: 30px;
}

table.toukou tr {
	height: 80%;
}

table.toukou td.toukou1 {
	text-align: left;
	width: 30%;
}

table.toukou td.toukou2 {
	text-align: left;
	width: 70%;
}
table.toukou td.toukouImage {
	text-align: right;
}

table.toukou tr.toukouHashTag {
	height: 80%;
	vertical-align: top;
}

table.toukou td.toukouButton {
	text-align: left;
	width: 70%;
}




.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
    width: 130px;
    height: 60px;
    font-size: 30px;
  }
}

#imageLogo {
	width: 80px;	
}

#hashtagSelect{
	width:150px;
	height: 50px;
	font-size: 20px;
}

#hashtagInput{
	width: 200px;
	height: 30px;
}

.slide {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 400px;
  margin: auto;
  background: #fff;
}
.slide form {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 30s infinite;
}
.slide form:nth-of-type(1) {animation-delay: 0s;}
.slide form:nth-of-type(2) {animation-delay: 3s;}
.slide form:nth-of-type(3) {animation-delay: 6s;}
.slide form:nth-of-type(4) {animation-delay: 9s;}
.slide form:nth-of-type(5) {animation-delay: 12s;}
.slide form:nth-of-type(6) {animation-delay: 15s;}
.slide form:nth-of-type(7) {animation-delay: 18s;}
.slide form:nth-of-type(8) {animation-delay: 21s;}
.slide form:nth-of-type(9) {animation-delay: 24s;}
.slide form:nth-of-type(10) {animation-delay: 27s;}
 
@keyframes slide-anime{
  0% {left: 100%;}
  2% {left: 0;}
  10% {left: 0;}
  13% {left: -150%;}
  100% {left: -150%;}
}

.alltoukou {
  display: flex;
  justify-content: end;
  position: relative;
  overflow: hidden;
  width: 610px;
  height: 200px;
  margin: auto;
  background: #fff;
}

h2 {
  position: relative;
  padding: 1rem .5rem;
  color: #979292;
}

h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-linear-gradient(20deg, yellow, blue, orange, purple, green, red);
  background-image: linear-gradient(70deg, yellow, blue, orange, purple, green, red);
}

h1 {
  position: relative;
  padding: 1rem .5rem;
  color: #979292;
}

h1.toukou {
	color: white;
}
h1.toukou:after {
	height: 0px;
}

h1.h1indent {
	margin-top: 100px;
	margin-left: 10px;
}

h2.h2indent {
	margin-left: 10px;
}


table.mypage{
  width: 60%;
  border-collapse: collapse;
}

table.mypage tr{
  border-bottom: solid 2px white;
  height: 70px;
}

table.mypage tr:last-child{
  border-bottom: none;
}

table.mypage th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 5px 0;
}

table.mypage th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table.mypage td{
  text-align: left;
  width: 60%;
  text-align: center;
  background-color: #eee;
  padding: 5px 0;
}

.button27 {
  text-align: center;
}

.button27 a {
  display: inline-block;
  position: relative;
  padding: 1em 1em 1em 50px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

.button27 a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 3px solid #aaaaaa;
  border-radius: 50vh;
  transition: 0.3s;
}

.button27 a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%) rotate(45deg);
  width: 3px;
  height: 3px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  transition: 0.3s;
}

.button27 a:hover {
  text-decoration: underline;
}

.button27 a:hover::before {
  background-color: #333;
}

.button27 a:hover::after {
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}