div {text-align:center;}

img {zoom:75%;}

p {text-align:center;font-size:35px}

form {text-align:center;}

input#uid{height:40px;font-size: 30px;}

input#password{height:40px;font-size: 30px;}

input[type="submit"]{
 background:#3366CC;
 color:white;
 border:0;
 border-radius:5px;
 position:relative;
 margin:0px 20px 0px 20px;
 font-size: 30px;
 height:50px;
 width:300px;
}

input[type="submit"]:hover{
 background:lightcoral;
 cursor:pointer;
 
}

h4 {color: red;text-align:center;font-size:35px}