div {text-align:center;}

img {zoom:50%;}

p {text-align:center;}

form {text-align:center;}

input#uid{height:30px;font-size: 20px;}

input#password{height:30px;font-size: 20px;}

input[type="submit"]{
 background:#3366CC;
 color:white;
 border:0;
 border-radius:5px;
 position:relative;
 margin:0px 20px 0px 20px;
 font-size: 20px;
 height:35px;
 width:160px;
}

input[type="submit"]:hover{
 background:lightcoral;
 cursor:pointer;
 
}

h4 {color: red;text-align:center;}