@charset "Shift_JIS";
table{
  width: 900px;
  height: 450px;
  table-layout: fixed;
  margin: 40px 40px 40px 40px;
}
 
tr{
  height: 150px;
}
td{
  text-align: center;
}
 
 
 
.oneone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}

.oneone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
.onetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}

.onetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.onethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.onethree img{
  max-height: 150px;
  cursor: pointer;
}
.onethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.onefour{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}
.onefour img{
  max-height: 300px;
  cursor: pointer;
}
.onefour:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.twoone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.twoone img{
  max-height: 150px;
  cursor: pointer;
}
.twoone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.twotwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.twotwo img{
  max-height: 150px;
  cursor: pointer;
}
.twotwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.twothree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.twothree img{
  max-height: 150px;
  cursor: pointer;
}
.twothree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.threeone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.threeone img{
  max-height: 150px;
  cursor: pointer;
}
.threeone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.threetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.threetwo img{
  max-height: 150px;
  cursor: pointer;
}
.threetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.threethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.threethree img{
  max-height: 150px;
  cursor: pointer;
}
.threethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_oneone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}
.layout2_oneone img{
  max-height: 300px;
  cursor: pointer;
}
.layout2_oneone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.layout2_onetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_onetwo img{
  max-height: 150px;
  cursor: pointer;
}
.layout2_onetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_onethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_onethree img{
  max-height: 150px;
  cursor: pointer;
}
.layout2_onethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_onefour{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_onefour:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_twoone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_twoone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_twotwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}
.layout2_twotwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_twothree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_twothree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_threeone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_threeone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_threetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_threetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
 
.layout2_threethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_threethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}





 
.layout3_oneone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_oneone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.layout3_onetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_onetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout3_onethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_onethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout3_twoone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twoone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_twotwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twotwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_twothree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twothree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}


.layout3_twofour{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twofour:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_threeone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_threeone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_threetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_threetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.layout3_threethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_threethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}




.parent{
	margin-left: 40px;
	display: flex;
	width: 100%;
}
.child1{
	flex-grow: 1;
	width: 50%;
}
.child2{
	flex-grow: 1;
	width: 20%;
}
.child3{
	flex-grow: 1;
	width: 30%;
}


.button009 a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 160px;
    padding: 10px 20px;
    color: #313131;
    transition: 0.3s ease-in-out;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
.button009 a:hover {
    background: #313131;
    color: #FFF;
}