div {text-align:center;}

h2 {text-align:center;font-size:40px;}

img {zoom:75%;}

p {text-align:center;font-size:30px}

form {text-align:center;font-size:35px;}

table {margin:auto;}

input[type="submit"]{
 background:#3366CC;
 color:white;
 border:0;
 border-radius:5px;
 position:relative;
 margin:0px 20px 0px 20px;
 font-size: 30px;
 height:50px;
 width:300px;
}

input#pwchange {text-align:center;}

input[type="submit"]:hover{
 background:lightcoral;
 cursor:pointer;
 
}
 