@charset "Shift_JIS";
table{
  width: 70%;
  height: 60%;
  table-layout: fixed;
  margin: 40px 40px 40px 40px;
}
 
tr{
  height: 150px;
}
td{
  text-align: center;
}

 
 
.oneone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}

.oneone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
.onetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}

.onetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.onethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.onethree img{
  max-height: 150px;
  cursor: pointer;
}
.onethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.onefour{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}
.onefour img{
  max-height: 300px;
  cursor: pointer;
}
.onefour:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.twoone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.twoone img{
  max-height: 150px;
  cursor: pointer;
}
.twoone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.twotwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.twotwo img{
  max-height: 150px;
  cursor: pointer;
}
.twotwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.twothree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.twothree img{
  max-height: 150px;
  cursor: pointer;
}
.twothree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.threeone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.threeone img{
  max-height: 150px;
  cursor: pointer;
}
.threeone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.threetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.threetwo img{
  max-height: 150px;
  cursor: pointer;
}
.threetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.threethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.threethree img{
  max-height: 150px;
  cursor: pointer;
}
.threethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_oneone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}
.layout2_oneone img{
  max-height: 300px;
  cursor: pointer;
}
.layout2_oneone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.layout2_onetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_onetwo img{
  max-height: 150px;
  cursor: pointer;
}
.layout2_onetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_onethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_onethree img{
  max-height: 150px;
  cursor: pointer;
}
.layout2_onethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_onefour{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_onefour:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout2_twoone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_twoone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_twotwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 300px;
}
.layout2_twotwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_twothree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_twothree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_threeone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_threeone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout2_threetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_threetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
 
.layout2_threethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout2_threethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}





 
.layout3_oneone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_oneone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
.layout3_onetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_onetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout3_onethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_onethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
.layout3_twoone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twoone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_twotwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twotwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_twothree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twothree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}


.layout3_twofour{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_twofour:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_threeone{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_threeone:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
 
 
 
 
 
.layout3_threetwo{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_threetwo:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.layout3_threethree{
  object-fit: cover;
  overflow: hidden;
  transition-duration: 0.5s;
  max-height: 150px;
}
.layout3_threethree:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}




.parent{
	margin-left: 40px;
	display: flex;
	width: 100%;
}
.child1{
	flex-grow: 1;
	width: 40%;
}
.child2{
	flex-grow: 1;
	width: 10%;
}
.child3{
	flex-grow: 1;
	width: 40%;
}


.button009 a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 160px;
    padding: 10px 20px;
    color: #313131;
    transition: 0.3s ease-in-out;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}
.button009 a:hover {
    background: #313131;
    color: #FFF;
}



table.toukou {
	width: 700px;
	height: 100%;
	table-layout: fixed;
	margin: auto;
	font-size: 30px;
}

table.toukou tr {
	height: 80%;
}

table.toukou td.toukou1 {
	text-align: left;
	width: 30%;
}

table.toukou td.toukou2 {
	text-align: left;
	width: 70%;
}
table.toukou td.toukouImage {
	text-align: right;
}

table.toukou tr.toukouHashTag {
	height: 80%;
	vertical-align: top;
}

table.toukou td.toukouButton {
	text-align: left;
	width: 70%;
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  width: 130px;
    height: 60px;
    font-size: 30px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

h2 {
  position: relative;
  padding: 1rem .5rem;
  color: #979292;
}

h1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  content: '';
  border-radius: 3px;
  background-image: -webkit-linear-gradient(20deg, yellow, blue, orange, purple, green, red);
  background-image: linear-gradient(70deg, yellow, blue, orange, purple, green, red);
}

h1 {
  position: relative;
  padding: 1rem .5rem;
  color: #979292;
}


h1.toukou {
	color: white;
}
h1.toukou:after {
	height: 0px;
}


h1.h1indent {
	margin-top: 100px;
	margin-left: 20px;
}

h2.h2indent {
	margin-left: 20px;
}



table.mypage{
  width: 60%;
  border-collapse: collapse;
}

table.mypage tr{
  border-bottom: solid 2px white;
  height: 70px;
}

table.mypage tr:last-child{
  border-bottom: none;
}

table.mypage th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 5px 0;
}

table.mypage th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table.mypage td{
  text-align: left;
  width: 60%;
  text-align: center;
  background-color: #eee;
  padding: 5px 0;
}

.button27 {
  text-align: center;
}

.button27 a {
  display: inline-block;
  position: relative;
  padding: 1em 1em 1em 50px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

.button27 a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 3px solid #aaaaaa;
  border-radius: 50vh;
  transition: 0.3s;
}

.button27 a::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%) rotate(45deg);
  width: 3px;
  height: 3px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  transition: 0.3s;
}

.button27 a:hover {
  text-decoration: underline;
}

.button27 a:hover::before {
  background-color: #333;
}

.button27 a:hover::after {
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}



