<html>
<head>
  <meta charset="utf-8">
  <title>企Ｓみんなのコミュニティアプリ</title>
  <link rel="stylesheet" href="allposts.css">
  <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"-->
</head>

<body>
<!--div class="container"-->
  <header>
    <!--div class="header-container"-->
    <div class="container">
      <div class="header-left">
        <!--img class="logo" src="https://prog-8.com/images/html/advanced/main_logo.png"-->
        <img class="logo" img src="./img/ICON.PNG" alt="ロゴ">
      </div>
      <div class="header-right0">
       <form>
         <label for="serch"></label>
          <input type="text" id="serch" serch="serch">
       <!-- serch="serch"の意味がよく分かっていない-->
          <button>検索</button>
        </form>
      </div>
      <div class="header-right">
        <a href="#" class="up">投稿する</a>
      </div>
    </div>
  </header>
      <!--a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
      <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a-->

 <div class="post-container">
  <div class="post-wrapper">
      <div class="heading">
        <h2>すべての投稿</h2>
      </div>
      <div class="posts">
        <div class="post">
          <div class="post-icon">
            <img src="./img/HASHIBIRO.jpg">
            <p>タイトル１</p>
          </div>
          <p class="text-contents">ハシビロコウは中央アフリカに生息する大型の鳥類です。その眼付の悪さが逆に魅力となり、私に人気があります。神戸の動物園などで会うことができます。</p>
        </div>
        <div class="post">
          <div class="post-icon">
            <img src="./img/nyanco.jpg">
            <p>タイトル２</p>
          </div>
          <p class="text-contents">投稿の内容は自由です。仕事だけのシンプルな付き合いも素敵ですが、その人の知らなかった一面をみてキュンとするかもしれません。キュンです！</p>
        </div>
        <div class="post">
          <div class="post-icon">
            <img src="./img/taiwan.jpg">
            <p>タイトル３</p>
          </div>
          <p class="text-contents">画面制作は単純そうでなかなか思うようにいきません。根気強く！頑張るのだ！諦めるな！諦めたらそこで試合終了ですよ。</p>
        </div>
        <div class="post">
          <div class="post-icon">
            <img src="./img/wanco2.jpg">
            <p>タイトル４</p>
          </div>
          <p class="text-contents">米津のライブ抽選に申し込みました。当たれ～～～～当たったらクリスタルそばの大阪城ホールでライブです！（ホールで足りるの？ドームじゃないの？と思わなくもない…）コロナでライブに行けない期間が続きましたが最近は復活の兆しが見えますね！……はずれた！！</p>
        </div>
      </div>
  </div>
       <!--追加-->
    <div class="side">
     <a href="#" class="tag-contents">#ペット</a>
     <a href="#" class="tag-contents">#休日</a>
     <a href="#" class="tag-contents">#長めのハッシュタグ長めのハッシュタグ長めのハッシュタグ</a>
    </div>
 
 </div>
</body>

</html>