<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>企Ｓみんなのコミュニティアプリ</title>
	<link th:href="@{/css/postresult.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 400px)" />
	<link th:href="@{/css/style_pc.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 400px)" />
	<link th:href="@{/css/base_mobile.css}" rel="stylesheet" type="text/css" media="screen and (max-width: 400px)" />
	<link th:href="@{/css/base_pc.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 400px)" />
	<link th:href="@{/css/allposts.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div th:replace="header::header"></div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <h1 class="h1indent" th:text="${midashimessage}"></h1>
    <h2　class="h2indent" th:text="${searchmessage}"></h2>
    
 <div class="post-wrapper">
  <div class="post-container">
      <div class="posts">

        <th:block th:each="postList : ${postList}">
			<div class="post">
				<form method="post" action="/postDetail">
				<input type="hidden" name="no" th:value="${postList.no}">
				<div class="post-icon">
					<th:block th:if="${postList.image != ''}">
						<input style="max-width: 100%; height: 100px;" type="image"
							th:src="${postList.image}" />
					</th:block>
					<th:block th:if="${postList.image == ''}">
						<input style="max-width: 100%; height: auto; width /**/:auto;" type="image"
							src="/commonImages/noimage.png" />
					</th:block>
				 </div>	
					<p th:text="${postList.hashTag}" style="text-align: start;"></p>
					<p th:text="${postList.postText}" style="text-align: start;"></p>
				 <div class="iine">
   　　　　　　　　　　　　　　　　 <div class="iine-img">
     　　　　　　　　　　　　　　　　<!--input type="image" th:src="@{/commonImages/iine.png}" class="yureru-j" alt="押してね♪"-->
    　　　　　　　　　　　　　　　　<!--input style="max-width: 100%; height: auto; width /**/:auto;" type="image" th:src="@{/commonImages/iine.png}" -->
                     <input type="image" th:src="@{/commonImages/iine.png}" >
                      </div>
    　　　　　　　　　　　　　　　　<div class="iine-count">
    　　　　　　　　　　　　　　　　　<p th:text="${postList.iine}"></p>
    　　　　　　　　　　　　　　　　</div>
　　　　　　　　　　　　　　　　</div>  
				</form>
			</div>
		</th:block>
		
      </div>
  </div>
       <!--追加-->
    <div class="side">
    　<p>人気のカテゴリ</p>
     <th:block th:each="category : ${categoryList}">
		<form method="post" name="FORMCATEGORY" action="/categorySearch">
			<input type="hidden" name="category" th:value="${category}" />
			<button style="border: none; outline: none; background: transparent; margin-left: 20px; text-decoration: underline;"><span
					th:text="${category}"></span></button>
		</form>
		</th:block>
    </div>
 
 </div>
</body>

</html>