<!DOCTYPE html>
<html>

 <head>
  <title>初期設定</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style_kakunin_pc.css">
 </head>

 <body>

  <div>
   <img src="../image/ICON.PNG">
  </div>

　<h2>パスワード再登録</h2>

 <form>
  <table>
   <tr>
    <td>ユーザＩＤ：</td><td th:text="${loginId}"></td>
   </tr> 
  <table>
 </form>

  <p>
   パスワードを初期化して、再登録いたします。よろしければ、下の「パスワード再登録」を押してください。
  </p>

  <form method="post" name="submit" action="/pwclear">
    <input type="hidden" name="loginId" th:value="${loginId}">
    <input type="submit" name="pwclear" id="pwchange" value="パスワード再登録">
  </form>  

 </body>

</html>