<!DOCTYPE html>
<html>

 <head>
  <title>ログイン画面</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style_login_pc.css">
  <script type="text/javascript" src="../js/inputcheck.js"></script>
 </head>

 <body>

  <div>
   <img src="/commonImages/ICON.PNG">
  </div>

  <form method="post" name="uid" action="/click">
   <p>ユーザーＩＤ：
    <input type="text" id="uid" name="uid">
   </p>
   <p>パスワード：
    <input type="password" id="password" name="password">
   </p>
   <input type="submit" name="login" value="ログイン">
   <input type="submit" name="pwchange" value="パスワード変更">
  </form>
  
  <form>
   <p>パスワードをお忘れの方は
    <a href="kakunin">こちら</a>
   </p>
  </form>
  
  <h4 th:text="${message1}"></h4>
  <h4 th:text="${message2}"></h4>
  
 </body>

</html>