<!DOCTYPE html>
<html>

<head>
	<title>パスワード変更</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style_pw_pc.css">
</head>

<body>

	<div>
		<img src="/commonImages/ICON.PNG">
	</div>
	
	<h4 th:text="${message1}"></h4>
	<h4 th:text="${message2}"></h4>

    <form>
	 <table>
		<tr>
			<td>ユーザＩＤ：</td>
			<td th:text="${loginId}"></td>
		</tr>
	 </table>
	</form>

			<p class="prepass" th:text="${message}"></p>

			<form method="post" name="npw" action="/password">
				<input type="hidden" name="loginId" th:value="${loginId}">
				<p>新パスワード：
					<input type="password" id="npw" name="newpass">
				</p>
				<p>新パスワード（再入力）：
					<input type="password" id="npw2" name="newpass2">
				</p>
				<input type="submit" name="change" value="パスワード変更">
			</form>

			<p class="msg">※変更後、自動的にトップ画面へ移動いたします</p>

</body>

</html>