<!DOCTYPE html>
<html>

 <head>
  <title>パスワード変更</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/style_pw_pc.css">
  <script type="text/javascript" src="../js/pwcheck.js"></script>
 </head>

 <body>

  <div>
   <img src="../image/ICON.PNG">
  </div>

  <form method="post" name="npw">
   <p>新パスワード：
    <input type="password" id="npw" name="newpass">
   </p>
  </form>

  <form method="post" name="npw2">
   <p>新パスワード（再入力）：
    <input type="password" id="npw2" name="newpass2">
   </p>
  </form>

  <form method="post" name="submit">
    <input type="submit" value="パスワード変更" onclick="return pcheck()">
  </form>

  <p class="msg">※変更後、自動的にトップ画面へ移動いたします</p>  

 </body>

</html>