<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>投稿内容画面</title>
	<link th:href="@{/css/postresult.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 375px)" />
	<link th:href="@{/css/style_pc.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 375px)" />
	<link th:href="@{/css/base_pc.css}" rel="stylesheet" type="text/css" media="screen and (min-width: 375px)" />
	<link th:href="@{/css/allposts.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div th:replace="header::header"></div>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/postresult.js}"></script>
	<h1 class="h1indent">
	  <span th:text="${name}"></span>
      <span>さんの投稿</span>
    </h1>
	
  <main>
  
    <div class="createdtime">
      <span>投稿日時：</span>
      <span th:text="${createdTime}"></span>
    </div>

   
    <div class="kekka">
      <div class="kekka-img">
        <div class="image">
          <th:block th:if="${image != ''}">
            <img style="max-width: 100%; height: auto; width /**/:auto;" type="image" 
                 th:src="${image}" />
          </th:block>
          <th:block th:if="${image == ''}">
            <img style="max-width: 100%; height: auto; width /**/:auto;" type="image" 
                 src="/commonImages/noimage.png" />
          </th:block>
        </div>
      </div>
      <div class="kekka-message">
        <p th:text="${postText}"></p>
        <div class="comment-area">
          <b>コメント</b>
          <div class="comment-out">
            <th:block th:each="commentList : ${commentList}">
              <div class="comment-out-kekka">
                <span>◆</span>
                <span th:text="${commentList.commenter}"></span>
                <span>◆</span>
                <p th:text="${commentList.comments}"></p>
              </div>
            </th:block>
          </div>
        </div>     
        <div class="comment-in">
          <input id="comments" type="text" onkeyup="ShowLength(value)" value="" style="width:100%; height:auto" maxlength="100"/>
          <button id="comments" class="button">コメント投稿</button>
          <span id="inputlength" font-size="6px">0文字／100文字</span>      
        </div>
      </div>
    </div>
    
    <div class="iine">
      <div class="iine-message">
        <p>いいね！</p> 
      </div>
      <div class="iine-img">
        <input type="image" th:src="@{/commonImages/iine.png}" class="yureru-j" alt="押してね♪">
      </div>
      <div class="iine-count">
        <p th:text="${iine}"></p>
      </div>
    </div>
    
  </main> 

</body>

</html>