<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>タイトル</title>
	<link th:href="@{/css/style_mobile.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/base_mobile.css}" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/allposts.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div th:replace="header::header"></div>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<h1 class="h1indent">TOP</h1>
	<br/>
	<h2 class="h2indent">最新投稿</h2>


	<span style="color:red" th:text="${errorMsg}"></span>
	<br />
	<div class="slide">
		<form method="post" name="FORM4" action="/postDetail">
			<a href="javascript:FORM4.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[0]}"></span></a>
			<div th:if="${imagePathList[0] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[0] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[0]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[0]}" />
		</form>
		<form method="post" name="FORM1" action="/postDetail">
			<a href="javascript:FORM1.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[1]}"></span></a>
			<div th:if="${imagePathList[1] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[1] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[1]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[1]}" />
		</form>
		<form method="post" name="FORM10" action="/postDetail">
			<a href="javascript:FORM10.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[2]}"></span></a>
			<div th:if="${imagePathList[2] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[2] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[2]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[2]}" />
		</form>
		<form method="post" name="FORM11" action="/postDetail">
			<a href="javascript:FORM11.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[3]}"></span></a>
			<div th:if="${imagePathList[3] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[3] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[3]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[3]}" />
		</form>
		<form method="post" name="FORM5" action="/postDetail">
			<a href="javascript:FORM5.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[4]}"></span></a>
			<div th:if="${imagePathList[4] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[4] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[4]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[4]}" />
		</form>
		<form method="post" name="FORM8" action="/postDetail">
			<a href="javascript:FORM8.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[5]}"></span></a>
			<div th:if="${imagePathList[5] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[5] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[5]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[5]}" />
		</form>
		<form method="post" name="FORM9" action="/postDetail">
			<a href="javascript:FORM9.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[6]}"></span></a>
			<div th:if="${imagePathList[6] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[6] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[6]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[6]}" />
		</form>
		<form method="post" name="FORM18" action="/postDetail">
			<a href="javascript:FORM18.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[7]}"></span></a>
			<div th:if="${imagePathList[7] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[7] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[7]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[7]}" />
		</form>
		<form method="post" name="FORM2" action="/postDetail">
			<a href="javascript:FORM2.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[8]}"></span></a>
			<div th:if="${imagePathList[8] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[8] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[8]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[8]}" />
		</form>
		<form method="post" name="FORM14" action="/postDetail">
			<a href="javascript:FORM14.submit()" style="text-decoration: none; color:black;"><span
					th:text="${hashTagList[9]}"></span></a>
			<div th:if="${imagePathList[9] == ''}">
				<input style="width: 370px; height: 200px;" type="image" src="/commonImages/noimage.png" />
			</div>
			<div th:if="${imagePathList[9] != ''}">
				<input style="width: 370px; height: 200px;" type="image" th:src="${imagePathList[9]}" />
			</div>
			<input type="hidden" name="no" th:value="${noList[9]}" />
		</form>
	</div>
	<br />
	<div class="alltoukou">
		<form method="post" name="FORMALL" action="/allPost">
			<div class="button009">
				<a href="javascript:FORMALL.submit()">すべての投稿</a>
			</div>
		</form>
	</div>



</body>

</html>